USE [master]
GO
/****** Object:  Database [BookMeDB]    Script Date: 9/27/2025 8:06:28 PM ******/
CREATE DATABASE [BookMeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookMeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BookMeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookMeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BookMeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookMeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookMeDB]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[Id] [varchar](40) NOT NULL,
	[UserId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessage]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessage](
	[SentAt] [datetime] NOT NULL,
	[ChatId] [varchar](40) NOT NULL,
	[Message] [varchar](500) NOT NULL,
	[UserId] [int] NOT NULL,
	[IsMarkedAsRead] [bit] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Author] [varchar](20) NOT NULL,
	[Content] [varchar](500) NOT NULL,
	[CommentDate] [datetime] NOT NULL,
	[PostId] [int] NOT NULL,
	[Likes] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_CommentId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentReply]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentReply](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ReplyLikes] [int] NULL,
	[ReplyingToId] [int] NOT NULL,
	[RepliedAt] [datetime] NOT NULL,
	[Content] [varchar](150) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecipientUserId] [int] NOT NULL,
	[ActorId] [int] NOT NULL,
	[Type] [varchar](25) NOT NULL,
	[PostId] [int] NULL,
	[Status] [varchar](15) NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostImageUrl] [varchar](150) NOT NULL,
	[Description] [varchar](800) NOT NULL,
	[UserId] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[PostedDate] [datetime] NOT NULL,
	[Likes] [tinyint] NOT NULL,
 CONSTRAINT [PK_PostId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBlackList]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBlackList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[OtherUserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFollowers]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFollowers](
	[UserId] [int] NOT NULL,
	[FollowerId] [int] NOT NULL,
 CONSTRAINT [COM_PK_User1_User2] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[FollowerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLikedComments]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLikedComments](
	[UserId] [int] NOT NULL,
	[LikedCommentId] [int] NOT NULL,
 CONSTRAINT [COMPOSITE_UserId_CommentId] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LikedCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLikedPosts]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLikedPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
 CONSTRAINT [PK_LikeId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLikedReplies]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLikedReplies](
	[UserId] [int] NOT NULL,
	[LikedReplyId] [int] NOT NULL,
 CONSTRAINT [Composite_PK_UserLikedReplies] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LikedReplyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/27/2025 8:06:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](15) NOT NULL,
	[ImageUrl] [varchar](1000) NULL,
	[Password] [varchar](150) NOT NULL,
	[Status] [varchar](8) NOT NULL,
	[IsDisabled] [bit] NOT NULL,
	[RoleName] [varchar](6) NOT NULL,
 CONSTRAINT [PK_UserId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Chat] ([Id], [UserId]) VALUES (N'68525FA8-0E54-4665-B47B-C6C0C5EEA1BE', 1020)
INSERT [dbo].[Chat] ([Id], [UserId]) VALUES (N'68525FA8-0E54-4665-B47B-C6C0C5EEA1BE', 1021)
INSERT [dbo].[Chat] ([Id], [UserId]) VALUES (N'00ACB4AE-45CB-4234-BE4D-79C269E3763E', 1022)
GO
SET IDENTITY_INSERT [dbo].[ChatMessage] ON 

INSERT [dbo].[ChatMessage] ([SentAt], [ChatId], [Message], [UserId], [IsMarkedAsRead], [Id]) VALUES (CAST(N'2024-12-25T22:01:12.713' AS DateTime), N'68525FA8-0E54-4665-B47B-C6C0C5EEA1BE', N'hola', 1020, 1, 1)
INSERT [dbo].[ChatMessage] ([SentAt], [ChatId], [Message], [UserId], [IsMarkedAsRead], [Id]) VALUES (CAST(N'2024-12-25T22:01:50.860' AS DateTime), N'68525FA8-0E54-4665-B47B-C6C0C5EEA1BE', N'HOA MARICONA', 1021, 1, 2)
INSERT [dbo].[ChatMessage] ([SentAt], [ChatId], [Message], [UserId], [IsMarkedAsRead], [Id]) VALUES (CAST(N'2024-12-25T22:02:21.993' AS DateTime), N'68525FA8-0E54-4665-B47B-C6C0C5EEA1BE', N'SHSSHSHSHSHSHSHSHSHSSHSHSHHSHSHSHSSHHSSHSHSHSHSHVDCGHUADCBUACBUACHBAUSCH', 1021, 1, 3)
SET IDENTITY_INSERT [dbo].[ChatMessage] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([Id], [Author], [Content], [CommentDate], [PostId], [Likes], [IsDeleted], [UserId]) VALUES (3070, N'mane54', N'That duck looks so peaceful! I’d love to be there enjoying that moment of calm.', CAST(N'2024-11-28T22:46:49.347' AS DateTime), 2043, 2, 0, 1015)
INSERT [dbo].[Comment] ([Id], [Author], [Content], [CommentDate], [PostId], [Likes], [IsDeleted], [UserId]) VALUES (3071, N'nataly12', N'Amazing! The water reflects everything so perfectly, it almost looks like the duck is floating in the air. ', CAST(N'2024-11-28T22:48:41.690' AS DateTime), 2043, 2, 0, 1016)
INSERT [dbo].[Comment] ([Id], [Author], [Content], [CommentDate], [PostId], [Likes], [IsDeleted], [UserId]) VALUES (3072, N'maxi4', N'Photos like this give me peace, the duck looks so relaxed. I wish I could have that kind of calm!', CAST(N'2024-11-28T22:49:23.127' AS DateTime), 2043, 1, 0, 1017)
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[CommentReply] ON 

INSERT [dbo].[CommentReply] ([Id], [CommentId], [UserId], [ReplyLikes], [ReplyingToId], [RepliedAt], [Content], [IsDeleted]) VALUES (2390, 3070, 1016, 1, 1015, CAST(N'2024-11-28T22:53:27.017' AS DateTime), N'Right? It’s the perfect spot for some relaxation. I can almost feel the peace just looking at it! ', 0)
INSERT [dbo].[CommentReply] ([Id], [CommentId], [UserId], [ReplyLikes], [ReplyingToId], [RepliedAt], [Content], [IsDeleted]) VALUES (2391, 3072, 1018, 1, 1017, CAST(N'2024-11-28T22:54:51.903' AS DateTime), N'Same here! Sometimes all we need is a quiet moment like that to recharge.', 0)
INSERT [dbo].[CommentReply] ([Id], [CommentId], [UserId], [ReplyLikes], [ReplyingToId], [RepliedAt], [Content], [IsDeleted]) VALUES (2394, 3075, 1014, 1, 1018, CAST(N'2024-11-28T23:03:17.263' AS DateTime), N'It really was perfect! We need to plan another one soon!', 0)
SET IDENTITY_INSERT [dbo].[CommentReply] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [RecipientUserId], [ActorId], [Type], [PostId], [Status], [IsRead], [CreatedAt]) VALUES (108, 1014, 1015, N'PostLiked', 2043, NULL, 0, CAST(N'2025-09-26T20:55:40.390' AS DateTime))
INSERT [dbo].[Notifications] ([Id], [RecipientUserId], [ActorId], [Type], [PostId], [Status], [IsRead], [CreatedAt]) VALUES (109, 1014, 1015, N'Comment', 2043, NULL, 0, CAST(N'2025-09-26T20:55:40.390' AS DateTime))
INSERT [dbo].[Notifications] ([Id], [RecipientUserId], [ActorId], [Type], [PostId], [Status], [IsRead], [CreatedAt]) VALUES (110, 1014, 1016, N'Comment', 2043, NULL, 0, CAST(N'2025-09-26T20:55:40.390' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([Id], [PostImageUrl], [Description], [UserId], [IsDeleted], [PostedDate], [Likes]) VALUES (2042, N'https://res.cloudinary.com/dyihpj2hw/image/upload/v1732849819/bookMe_posts-images/w5uaon0wikinvpcbwt4f.jpg', N'I’m here with my friends, and we’re all having such a great time under the warm sun. The grass feels soft beneath our blankets, and laughter keeps bursting out as we joke and talk. A few of us are playing games nearby, while others just relax. It’s one of those moments I’ll always treasure.', 1014, 0, CAST(N'2024-11-28T22:10:18.950' AS DateTime), 2)
INSERT [dbo].[Post] ([Id], [PostImageUrl], [Description], [UserId], [IsDeleted], [PostedDate], [Likes]) VALUES (2043, N'https://res.cloudinary.com/dyihpj2hw/image/upload/v1732849871/bookMe_posts-images/drykmscfdpjv39yp8bsp.jpg', N'I’m standing by the water, watching a duck gliding smoothly across the surface. Its feathers glisten in the sunlight, and the gentle ripples it creates reflect the clear blue sky. I can’t help but smile at how peaceful and graceful it looks, completely at ease in its element.', 1014, 0, CAST(N'2024-11-28T22:11:10.280' AS DateTime), 3)
INSERT [dbo].[Post] ([Id], [PostImageUrl], [Description], [UserId], [IsDeleted], [PostedDate], [Likes]) VALUES (2044, N'https://res.cloudinary.com/dyihpj2hw/image/upload/v1732850420/bookMe_posts-images/mrutc935gondu5bbymwu.jpg', N'I captured this moment of my husband walking hand in hand with our son. The sunlight dances through the trees, framing them perfectly as they share a quiet, beautiful connection. Seeing them together like this fills my heart with joy, and I’m so glad I could freeze this memory in time.', 1016, 0, CAST(N'2024-11-28T22:20:19.487' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
INSERT [dbo].[UserFollowers] ([UserId], [FollowerId]) VALUES (1014, 1018)
INSERT [dbo].[UserFollowers] ([UserId], [FollowerId]) VALUES (1014, 1020)
INSERT [dbo].[UserFollowers] ([UserId], [FollowerId]) VALUES (1014, 1022)
GO
INSERT [dbo].[UserLikedComments] ([UserId], [LikedCommentId]) VALUES (1014, 3074)
INSERT [dbo].[UserLikedComments] ([UserId], [LikedCommentId]) VALUES (1014, 3075)
INSERT [dbo].[UserLikedComments] ([UserId], [LikedCommentId]) VALUES (1014, 3077)
GO
SET IDENTITY_INSERT [dbo].[UserLikedPosts] ON 

INSERT [dbo].[UserLikedPosts] ([Id], [UserId], [PostId]) VALUES (3281, 1014, 2042)
INSERT [dbo].[UserLikedPosts] ([Id], [UserId], [PostId]) VALUES (3284, 1014, 2044)
INSERT [dbo].[UserLikedPosts] ([Id], [UserId], [PostId]) VALUES (3289, 1014, 2046)
SET IDENTITY_INSERT [dbo].[UserLikedPosts] OFF
GO
INSERT [dbo].[UserLikedReplies] ([UserId], [LikedReplyId]) VALUES (1014, 2394)
INSERT [dbo].[UserLikedReplies] ([UserId], [LikedReplyId]) VALUES (1014, 2402)
INSERT [dbo].[UserLikedReplies] ([UserId], [LikedReplyId]) VALUES (1014, 2404)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [ImageUrl], [Password], [Status], [IsDisabled], [RoleName]) VALUES (1019, N'adm1n845', N'https://res.cloudinary.com/dyihpj2hw/image/upload/v1735263969/bookMe_profilePics/qeoe4osnxvgcmaotgulh.jpg', N'$2a$11$jbQMB7XT5JlBAm4SyEmz2O8b1G53rKbp5nAl54B/J5BJszlRc/bNK', N'offline', 0, N'admin')
INSERT [dbo].[Users] ([Id], [Username], [ImageUrl], [Password], [Status], [IsDisabled], [RoleName]) VALUES (1020, N'alexmancaña', N'https://res.cloudinary.com/dyihpj2hw/image/upload/v1740199384/bookMe_profilePics/r1dkqe8t2zasrohgzict.jpg', N'$2a$11$Wtkz3YMftFyvj8.IWFcxjOo5WYA/MVppNnzTYzT6t6JJpsgjPK/Eu', N'offline', 0, N'user')
INSERT [dbo].[Users] ([Id], [Username], [ImageUrl], [Password], [Status], [IsDisabled], [RoleName]) VALUES (1018, N'bob__4', N'https://res.cloudinary.com/dyihpj2hw/image/upload/v1732849597/bookMe_profilePics/rnv5khxbslgx2cprnktw.jpg', N'$2a$11$3cYb4RtnlULmI3AtvfZroe1i1wBkv3fdw5/eCOp2GB06o3LyMwns6', N'offline', 0, N'user')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Chat_UserId]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Chat_UserId] ON [dbo].[Chat]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChatMessage_ChatId_SentAt]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessage_ChatId_SentAt] ON [dbo].[ChatMessage]
(
	[ChatId] ASC,
	[SentAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ChatMessage_ChatId_UserId]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_ChatMessage_ChatId_UserId] ON [dbo].[ChatMessage]
(
	[ChatId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comment_PostId_IsDeleted]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comment_PostId_IsDeleted] ON [dbo].[Comment]
(
	[PostId] ASC,
	[IsDeleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comment_PostId_IsDeleted_CommentDateASC]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comment_PostId_IsDeleted_CommentDateASC] ON [dbo].[Comment]
(
	[PostId] ASC,
	[IsDeleted] ASC,
	[CommentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comment_UserId]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Comment_UserId] ON [dbo].[Comment]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentReply_CommentId_IsDeleted]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentReply_CommentId_IsDeleted] ON [dbo].[CommentReply]
(
	[CommentId] ASC,
	[IsDeleted] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentReply_CommentId_IsDeleted_RepliedAt]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentReply_CommentId_IsDeleted_RepliedAt] ON [dbo].[CommentReply]
(
	[CommentId] ASC,
	[IsDeleted] ASC,
	[RepliedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CommentReply_UserId]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_CommentReply_UserId] ON [dbo].[CommentReply]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_PostId_ActorId_RecipientUserId]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_PostId_ActorId_RecipientUserId] ON [dbo].[Notifications]
(
	[PostId] ASC,
	[ActorId] ASC,
	[RecipientUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notifications_RecipientUserId_ActorId_Type]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_RecipientUserId_ActorId_Type] ON [dbo].[Notifications]
(
	[RecipientUserId] ASC,
	[ActorId] ASC,
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_RecipientUserId_CreatedAt]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_RecipientUserId_CreatedAt] ON [dbo].[Notifications]
(
	[RecipientUserId] ASC,
	[CreatedAt] DESC
)
INCLUDE([ActorId],[Type],[PostId],[Status],[IsRead]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Post_IsDeleted_PostedDate]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Post_IsDeleted_PostedDate] ON [dbo].[Post]
(
	[IsDeleted] ASC,
	[PostedDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Post_UserId_Id]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Post_UserId_Id] ON [dbo].[Post]
(
	[UserId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Post_UserId_IsDeleted_PostedDate]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_Post_UserId_IsDeleted_PostedDate] ON [dbo].[Post]
(
	[UserId] ASC,
	[IsDeleted] ASC,
	[PostedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserBlackList_UserId_OtherUserId]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserBlackList_UserId_OtherUserId] ON [dbo].[UserBlackList]
(
	[UserId] ASC,
	[OtherUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserLikedPosts_PostId_UserId]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserLikedPosts_PostId_UserId] ON [dbo].[UserLikedPosts]
(
	[PostId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserLikedPosts_UserId_PostId]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserLikedPosts_UserId_PostId] ON [dbo].[UserLikedPosts]
(
	[UserId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username_Covering]    Script Date: 9/27/2025 8:06:29 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username_Covering] ON [dbo].[Users]
(
	[Username] ASC
)
INCLUDE([Id],[Password],[RoleName],[IsDisabled],[ImageUrl],[Status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChatMessage] ADD  DEFAULT (getdate()) FOR [SentAt]
GO
ALTER TABLE [dbo].[ChatMessage] ADD  DEFAULT ((0)) FOR [IsMarkedAsRead]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ((0)) FOR [Likes]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[CommentReply] ADD  DEFAULT ((0)) FOR [ReplyLikes]
GO
ALTER TABLE [dbo].[CommentReply] ADD  DEFAULT (getdate()) FOR [RepliedAt]
GO
ALTER TABLE [dbo].[CommentReply] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Post] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Post] ADD  DEFAULT ((0)) FOR [Likes]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('offline') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsDisabled]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('user') FOR [RoleName]
GO
ALTER TABLE [dbo].[ChatMessage]  WITH CHECK ADD  CONSTRAINT [FK_UserId_ChatMessage] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ChatMessage] CHECK CONSTRAINT [FK_UserId_ChatMessage]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_PostId]
GO
ALTER TABLE [dbo].[CommentReply]  WITH CHECK ADD FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comment] ([Id])
GO
ALTER TABLE [dbo].[CommentReply]  WITH CHECK ADD FOREIGN KEY([ReplyingToId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CommentReply]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([ActorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([RecipientUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_UserId]
GO
ALTER TABLE [dbo].[UserBlackList]  WITH CHECK ADD FOREIGN KEY([OtherUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserBlackList]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserLikedPosts]  WITH CHECK ADD  CONSTRAINT [FK_PostId_LikedPosts] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLikedPosts] CHECK CONSTRAINT [FK_PostId_LikedPosts]
GO
ALTER TABLE [dbo].[UserLikedPosts]  WITH CHECK ADD  CONSTRAINT [FK_UserId_LikedPosts] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserLikedPosts] CHECK CONSTRAINT [FK_UserId_LikedPosts]
GO
USE [master]
GO
